body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #363958;
}
section{
    height: 600px;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    color:#363958;
}
h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color:#363958;
    ;
}

.text-highlight{
    color: #FF8367;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-right: 2%;
}
.bg-picture{
    width: 100%;
}
.first-part{
    padding: 70px 0 0 50px;
}
.second-part{
    padding: 20px 70px 0 0;
}
.btn{
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    background-image: linear-gradient(tomato,#ffaa95);
    color: white;
}
.bio-section img{
    margin-top: -50px;
}

.bio-section,.latest-work{
    background-color:#F8F9FC;
}

.section-heading{
    padding: 40px 0;
}
.section-heading h2{
    text-align: center;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: left;
    height: 370px;
    width: 374px;
    margin: 0 32px;
    background-color: #F8F9FC;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .container h4 p{
      text-align: center;
  }


  .contact-card{
      width: 906px;
      height: 225px;
      border-radius: 30px;
      background: linear-gradient(138.38deg, #5D69E9 -7.79%, #4225B6 98.72%);
      margin: 106px 210px;
  }
.contact-text{
    color: #F8F9FC;
    margin-top: 90px;
}
.contact-btn{
    float: right;
    margin-right: 30px;
    margin-top: 90px;
}
.contact-single{
    width: 50%;
    
}
.social-links{
    text-align: center;
}
.social-icon{
    height: 40px;
    width: 40px;
    padding: 0 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 150px;
    padding-top: 20px;
  }
ul li{
    float: left;
    padding: 10px;
}
ul li a{
    text-decoration: none;
    color:#363958;
}

.service-single {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: left;
    height: 200px;
    width: 200px;
    margin: 0 30px;
    background-color: #F8F9FC;
    border: 2px solid tomato;
  }
  .service-single h4{
      text-align: center !important;
      font-size: 20px;
      font-family: 'Bebas Neue', cursive;
      color:#363958;
  }
  .service-single p{
      padding: 5px;
      text-align: center;
  }
  .service-single:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: tomato;
    color: white;
  }
  .service-single:hover h4{
    color: white;
  }

  #my-services{
      height: 500px;
  }